
/* -------------------------- 主题布局 ------------------------------- ×/
/*-------------- 主体div ----------------*/
.movie-rating {
    font-family: Arial;
    position: absolute;
    top: 0;
    /*决定元素在z轴的摆放顺序，99999表示浮动窗在最上面*/
    z-index: 99999;
    /*width: 200px;*/
    background-color: #333;
    padding: 15px;
    box-shadow: 0px 0px 10px #515A5A;
    border-radius:7px;
    text-align: left;
    width: 440px;
    /*max-width: 300px;*/
    /*min-width: 200px;*/
}

.movie-rating-head {
    margin-bottom: 5px;
    color:silver;
}

.rating_close {
    position: absolute;
    top: 13px;
    right: 13px;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ff6428
    text-align: center;
}


/*评分部分的样式*/
.rating {
    /*width: 160px;*/
    color:#9b9b9b;
    background-color: #0e0e0e;
    font: 12px Helvetica,Arial,sans-serif;
}
.douban_rating {
    width: 200px;
    height: 100px;
    float:left;
    line-height:2
}
/*.rating:before,.rating:after {*/
    /*content:'';*/
    /*display:block;*/
    /*clear:both*/
/*}*/
.rating .rating_num {
    float:left;
    color:#ff6428;
    min-width:30%;
    font-size:28px
}
.rating .rating_star {
    float:left;
    padding:10px 0 10px 6px
}
/* ----------------- IMDB Rating ---------------------*/
.imdb_rating {
    float:right;
    width: 50%;
    border-style:solid;
    border-color:#484848;
    border-width:0 0 0 1px;
}
.ratingValue {
    margin-bottom: -2px;
}
.imdb_rating .ratings_wrapper {
    /*float: right;*/
    /*position: relative;*/
    /*margin-left: 5px;*/
    width: 185px;
    z-index: 2;
}

.imdbRating {
    background: url('css/images/if_favorites_18321.png') no-repeat 0 0;
    background-image:url('css/images/if_favorites_18321.png');
    background-size: 40px;
    font-size: 11px;
    /*height: 40px;*/
    /*line-height: 2;*/
    /*padding: 2px 0 0 34px;*/
    /*width: 158px;*/
    float:right;
    height:35px;
    padding: 2px 0 0 45px;
}

.ratingValue strong {
    font-size: 24px;
    font-weight: normal;
    font-family: Arial;
    line-height: 24px;
}

/*.imdb_rating .imdb_rating_star {*/
    /*background: url('css/images/if_favorites_18321.png') no-repeat 0 0;*/
    /*background-image:url('css/images/if_favorites_18321.png');*/
    /*background-size: cover;*/
    /*float:left;*/
    /*width:35px;*/
    /*height:35px;*/
/*}*/
/* ------------------------------------------------------------------ */
div.tag_group {
    margin-bottom: 10px;
    clear:both;
}
.tag_group .tag, .tag:link, .tag:visited {
    width: auto;
    background-color:silver;
    display: inline-block;
}

.douban_starstop,.douban_stars {
    margin-right:5px
}
.douban_starstop {
    float:left
}

/*气泡的小三角样式 默认是右侧布局*/
.movie-rating:after, .movie-rating:before {
    right: 100%;
    /*left: 100%;*/
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.movie-rating:before {
    /*border-right-color:#acacac;*/
    /*border-left-color:#acacac;*/
    border-width:8px;
    /*三角距离顶部的距离*/
    top: 60px;
    /*before和after margin-top的差为三角border的大小*/
    margin-top: -8px;
}

.movie-rating.left:before {
    right:;
    left: 100%;
    /*border-left-color:#acacac;*/
    border-right-color:transparent;
}

.movie-rating:after {
    border-right-color: #0e0e0e;
    /*border-left-color: #0e0e0e;*/
    border-width: 7px;
    top: 60px;
    margin-top:-7px;
}

.movie-rating.left:after {
    right:;
    left: 100%;
    border-left-color: #0e0e0e;
    border-right-color: transparent;
}

.movie-rating .logo {
    color: #9b9b9b;
    margin-bottom: 5px;
    height: 30px;
    line-height:1
}

.movie-rating h3 {
    word-break: break-all;
    font-weight: 400;
    font-size: 30px;
    color: #111;
    height: auto;
    margin-left: 0;
    /*background-color: #fff;*/
    line-height: 1;
}

.movie-rating .movie-rating-head a:link {
    color:#fff;
    text-decoration:none
}
.movie-rating-details li {
    padding-left: 40px;
    line-height: 20px;
    overflow: hidden;
    zoom: 1;
    color: silver
}

.movie-rating-details li span {
    margin-right: 5px
}

.movie-rating-details li .label {
    color: #888;
    margin-left: -40px;
    float: left;
    padding: 0
}
.movie-rating-details p {
    line-height: 16px;
    margin-top: 10px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}

.movie-rating a {
    cursor:pointer
}
.movie-rating a:link {
    color:#888;
    text-decoration:none
}
.movie-rating a:visited {
    color:#888;
    text-decoration:none
}
.movie-rating a:hover {
    color:#fff;
    text-decoration:none;
    /*background:#37a*/
}
.movie-rating a:active {
    color:#fff;
    text-decoration:none;
    background:#f93
}

.rating_close:hover::before, .rating_close:hover::after {
    background: #fff;
}
.rating_close::before, .rating_close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #ff6428;
}
.rating_close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rating_close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.rating_close.thick::before, .rating_close.thick::after {
    height: 4px;
    margin-top: -2px;
}
.rating_close:hover {
    text-decoration: none;
}

.rating .rating_right.not_showed {
    padding:10px 0 0
}
.rating .power {
    height:10px;
    float:left;
    margin:1px 4px;
    background:#ffd596 none repeat scroll 0 0
}
.rating .power.color_gray {
    background:#ccc
}
.rating .rating_per {
    font-size:11px
}
.rating .rating_betterthan {
    position:relative;
    padding:15px 0;
    border-top:1px solid #eaeaea;
    color:#9b9b9b;
    margin:0
}

div.tag_group {
    margin-bottom: 10px;
}
.tag_group .tag, .tag:link, .tag:visited {
    width: auto;
    word-break: keep-all;
    white-space: nowrap;
    background-color:#44444c;
    /*background-color:#E5E7E9;*/
    /*color: #888;*/
    font-size: 13px;
    padding: 2px 11px 0;
    display: inline-block;
    margin: 0 3px 5px 0;
    line-height: 20px;
    border-radius: 2px;
}
/*.tag_group .tag:link {*/
/*color: #888;*/
/*text-decoration:none*/
/*}*/
.tag_group .tag:hover {
    background-color: #595960;
    color: #ff6428;
    text-decoration:none
}

.movie-rating .loader-inner {
    margin-top: 20px;
    margin-bottom: 50px;
}

/*测试用代码，在movie页面上显示*/
.tag_item {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    padding: 1px 4px 1px;
    line-height: 18px;
    border-radius: 4px;
    /*background-color: #3f3f45;*/
    background-color: #F2F3F4;
    color: #6b6969;
}
